body{
    margin: 0px;
    
}

.container{
    color: black;
    margin-top: 93px;
    width: 53%;
    align-items: center;
    justify-content: center;
    background: #8c8be0;
    border:2px solid black;
    border-radius: 19px;
    height: 406px;
}